<h1>Enter a New Movie</h1>
<%= form_for @movie do |f| %>
 <%= f.label :title %>
<%= f.text_field :title %>
 <%= f.label :length %>
 <%= f.text_field :length %>
 <%= f.label :rating %>
 <%= f.text_field :mpaa %>
<%= f.submit %>
<% end %>

