<h1>Movies</h1>
<h2><%= @movie.title %></h2>
<h3><%= @movie.length %></h2>
<p><%= @movie.mpaa %></p>
<%= link_to 'Back', movies_path %>

<h1> Movie </h1>
 <h2><%= @movie.title %></h2>
 <h3><%= @movie.length %></h3>
 <p><%= @movie.mpaa %></p>

 <h1>Reviews</h1>
 <% @movie.reviews.each do |i| %>
<div class= 'reviews'>
<p>User Id: <%= i.user_id %></p>
<p>Review <%= i.opinion %></p>
</div> 
<% end %>
   <p><%= link_to 'Add Review', movies_path %></p>
   <p><%= link_to 'Back', movies_path %></p>
